.App {padding: 10px 50px; box-sizing: border-box;}
.App h1{text-align: center;}
.App .movie{
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 7px;
  justify-content: space-between;
  margin-bottom: 5px;
}
.App .movie .movie-title{flex-grow: 1;}
.App .movie .movie-year{font-size: .6rem; color: #f00;}
.App input{
  width: 100%;
  border: 1px solid #ddd;
  padding: 7px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.App button{
  border: none;
  background: #0b79ac;
  color: #fff;
  width: 100%;
  padding: 7px;
  margin-bottom: 30px;
}
.App .removeBtn button{
  border: none;
  background: #0b79ac;
  color: #fff;
  padding: 7px;
  margin-bottom: 0px;
}
.errText{
  color: #f00;
  font-size: 12px;
  margin-bottom: 5px;
}
.addText{color: #ccc; font-size: 14px;}